
body{
	margin:0;
	padding:0;
}


p,div,h1,h2,h3,h4,h5,h6,ul,li{
	margin:0;
	padding:0;
}

*{
	box-sizing:border-box;
}
img{
	width:100%;
}

.container {
	width:1170px;
	margin:0 auto;
}
.header {
	padding:15px 15px;
}
.my-menu {
	width:100%;
	float:left; 
}
.my-menu ul {
	
}